.image {
    padding-bottom: 94px;
}


@media screen and (min-width: 320px) and (max-width: 1199px) {
    .image {
       display: none;
    }
}


.image__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--title-color);
    text-align: center;
    margin-bottom: 50px;
}

.image__list {
    display: flex;
}

.image__item:not(:last-child) {
    margin-right: 30px;
}

.image__wrap {
    position: relative;
    overflow: hidden;
}

.image__top-text {
    position: absolute;
    bottom: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.4;
    width: 370px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    background-color: rgba(47, 48, 58, 0.8);
    color: #FFFFFF;
}