.text {
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
    }
}        


.text__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.text__item {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .text__item {
        width: calc((100% - 30px) / 2);
    }
    
}

@media screen and (min-width: 1200px) {
    .text__item {
        width: calc((100% - 90px) / 4);
    }

}
.text__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    width: 100%;
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;
}

.text__subtitle {
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-color);
    margin-bottom: 10px;
    @media screen and (min-width: 768px) {
       text-align: left;
    }
}

.text__desc {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color);
}