:root {
    --header-color: #FFFFFF;
    --title-color: #212121;
    --text-color: #757575;
    --btn-color: #212121;
    --link-color: #212121;
    --background-color: #2F303A;
    --accent-color: #2196F3;
    --border-color: #ECECEC;
}